.para-direita {
   background-image: url(skier.png);
   background-position: -25px -6px;
   width: 22px;
   height: 28px;
}

.para-esquerda {
   background-image: url(skier.png);
   background-position: -26px -43px;
   width: 22px;
   height: 28px;
}

.para-frente {
   background-image: url(skier.png);
   background-position: -67px -2px;
   width: 15px;
   height: 32px;
}

.skier-batida-arvore {
    background-image: url(skier.png);
    background-position: -67px -2px;
    width: 15px;
    height: 32px;
 }

.arvore {
   background-image: url(obstacles.png);
   background-position: -0px -31px;   
   width: 28px;
   height: 32px;   
   position: absolute;
}

.arvore-chamas {
    background-image: url(obstacles.png);
    background-position: -49px -102px;   
    width: 22px;
    height: 29px;   
    position: absolute;
 }
 
 .toco {
    background-image: url(obstacles.png);
    background-position: -252px -51px;   
    width: 18px;
    height: 12px;   
    position: absolute;
 }

 .cachorro {
    background-image: url(skier.png);
    background-position: -0px -208px;   
    width: 22px;
    height: 15px;   
    position: absolute;
 }

 .rocha {
    background-image: url(obstacles.png);
    background-position: -30px -47px;   
    width: 23px;
    height: 16px;   
    position: absolute;
 }

 .arvore-grande {
    background-image: url(obstacles.png);
    background-position: -96px -66px;   
    width: 32px;
    height: 64px;   
    position: absolute;
 }

.homem-montanha {
    background-image: url(skier.png);
    background-position: -67px -2px;
    width: 15px;
    height: 32px;
    position: absolute;
}


#montanha {
   border: 1px solid black;
   position: relative;
   overflow: hidden;
   float: left;
}


#placar {
    border: 1px solid black;
    position: relative;
    float: left;
    width: 300px;
    height: 400px;
    margin-left: 30px;
    padding-left: 10px;
}

#skier {
   position: absolute;
}


